.container {
    display: grid;
    grid-template-columns: 0 10fr 0;
    grid-template-rows: 50vh;
    width: 100%;
    font-size: 24pt;
}

#center {
    grid-row: 1/1;
    grid-column: 2/2;
    overflow: hidden;
}
