<mat-card>
    <mat-card-title>Career Table</mat-card-title>
    <mat-card-content class="table-content">
        <input type="text"(input)="quickFilter()"id="quickFilter"placeholder="Search roles..."/>
        <ag-grid-angular
                class="ag-theme-material table"
                [gridOptions]="gridOptions"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                (cellClicked)="onCellClicked($event)"
                (sortChanged)="onColumnClicked($event)"
                domLayout="autoHeight"
                [components]="components"
                (gridReady)="onGridReady($event)"
                [animateRows] = "true"
                [suppressMenuHide]="true">
        </ag-grid-angular>
        <button mat-raised-button (click)="navigateToCapabilityView(1)">capability</button>
    </mat-card-content>

</mat-card>

