.admin-container {
    width: 70%;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
  }
  
.form-container > * {
  width: 100%;
}

form input.ng-valid {
  background: none;
}

#submit {
  background-color: #202D52;
  color: white;
}
.mat-card {
    background-color: #202D52;
    color: white;
}

button {
    background-color: #202D52;
    color: white;
}
