<div class="admin-container">
    <mat-card>
        <mat-card-title>Admin Panel</mat-card-title>
    </mat-card>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Job Family">
            Content 1
        </mat-tab>
        <mat-tab label="Capability">
            Content 2
        </mat-tab>
        <mat-tab label="Band">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Add New Band</mat-panel-title>
                    <mat-panel-description>Click to expand</mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="addBand(addForm)" #addForm="ngForm">
                    <fieldset>
                        <mat-form-field class="form-input">
                            <input matInput placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class="textarea-form-input">
                            <textarea matInput placeholder="Competency"></textarea>
                        </mat-form-field>
                        <mat-form-field class="textarea-form-input">
                            <textarea matInput placeholder="Responsibilities"></textarea>
                        </mat-form-field>
                        <mat-form-field class="textarea-form-input">
                            <mat-label>Training</mat-label>
                            <mat-select matNativeControl multiple>
                                <ng-container *ngFor="let trainingCategory of trainingCategories">
                                    <mat-optgroup label={{trainingCategory.training_category_name}}>
                                        <ng-container *ngFor="let training of trainings">
                                            <mat-option *ngIf="training.training_category_id === trainingCategory.training_category_id">
                                                {{training.training_name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-optgroup>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <button id="submit" type="submit" mat-raised-button color="202D52" (click)="openSnackBar('Band Added')">Add</button>
                    </fieldset>
                </form>
            </mat-expansion-panel>
        </mat-tab>
        <mat-tab label="Role">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Add New Job Role</mat-panel-title>
                    <mat-panel-description>Click to expand</mat-panel-description>
                </mat-expansion-panel-header>
                <p>Test Job Role</p>
            </mat-expansion-panel>

        </mat-tab>
    </mat-tab-group>


</div>
