<div class="admin-container">
    <mat-card>
        <mat-card-title>Admin Panel</mat-card-title>
    </mat-card>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Job Family">
            <mat-expansion-panel class="Edit">
                <mat-expansion-panel-header>
                    <mat-panel-title>Edit Job family</mat-panel-title>
                    <mat-panel-description>Edit the title of a job family</mat-panel-description>
                </mat-expansion-panel-header>
                <form #editForm="ngForm" (ngSubmit)="editFamily(editForm)">
                <fieldset>
                        <mat-label>Select job family</mat-label>
            <mat-select [(ngModel)]="newFamily.job_family_id" name="job_family_id"  >

                <mat-option *ngFor="let jobFamily of jobFamilies" [value]="jobFamily.job_family_id">
                    {{jobFamily.job_family_name}}
                  </mat-option>
            </mat-select>
            <mat-form-field class="example-full-width">
                <textarea matInput name="job_family_name" id="jobFamilyName" [(ngModel)]="newFamily.job_family_name" placeholder="Enter new name"></textarea>
              </mat-form-field>
              <button mat-raised-button (click)="openSnackBar('Job Family updated')" type="submit">Apply</button>
              </fieldset>
            </form>
        </mat-expansion-panel>
        </mat-tab>
        <mat-tab label="Capability">
            Content 2
        </mat-tab>
        <mat-tab label="Band">
            Content 3
            </mat-tab>
            <mat-tab label="Role">
                Content 4

            </mat-tab>
        </mat-tab-group>
</div>
