.main-card {
    max-width: 600px;
    min-width: 200px;
    max-height: 200px;
    min-height: 100px;
    height: 200px;
    margin: 0 auto;
}

#matcard-avatar {
    min-inline-size: 23vh;
    min-block-size: 23vh;
}

#matcard-title {
    font-size: -webkit-xxx-large;
}

#matcard-subtitle {
    font-size: x-large;
}
