<mat-card style="height: 80vh">
  <mat-card-title style="padding: 16px">Welcome, {{data.mockUser.name}}!</mat-card-title>
  <mat-card-content>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item id="landing-page-nav-button-my-place" (click)="navigate()">My Position</button>
      <button mat-menu-item id="landing-page-nav-button-moves-upwards" (click)="navigate()">Steps for Promotion</button>
      <button mat-menu-item id="landing-page-nav-button-moves-sideways" (click)="navigate()">Current Opportunities</button>
      <button mat-menu-item id="landing-page-nav-button-last-session" (click)="navigate()">Previous Session</button>
    </mat-menu>

    <button mat-raised-button style="background: #66bb6a; color: white" [matMenuTriggerFor]="appMenu">
      Why are you here today?
    </button>
  </mat-card-content>
</mat-card>

