/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.list {
    text-align: left;
    float: left;
    color: darkblue;
}

.detail {
    text-align: left;
    float: right;
    color: maroon;
}

form input.ng-valid {
    background: lightgreen;
}

form input.ng-invalid {
    background: pink;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.ag-theme-material .ag-header-cell {
    background: #202D52;
    color: white;
    text-align: left;
}

.ag-theme-material .ag-header-viewport {
    background: #202D52;
}

.ag-theme-material .ag-header-group-cell {
    background: #202D52;
    color: white;
    font-size: 18px;

}
.ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell:hover, .ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell.ag-column-resizing, .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell:hover, .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell.ag-column-resizing, .ag-theme-material .ag-header-group-cell:first-of-type:hover, .ag-theme-material .ag-header-group-cell:first-of-type.ag-column-resizing, .ag-theme-material .ag-header-cell:first-of-type:hover, .ag-theme-material .ag-header-cell:first-of-type.ag-column-resizing {
    color:  #202D52;
}

.ag-theme-material .ag-cell {
    text-align: left;
}

.ag-theme-material .ag-cell:hover {
    font-weight: bold;
    box-shadow: 6px 0px 35px -13px rgba(0,0,0,0.78);
}

.executive-band-row {
    background: #651fff !important;
    color: white !important;
}

.executive-band-row:hover {
    color: white !important;
    background: #6200ea !important;

}

.bandLevels {
    font-weight: bold;
}
.bandLevels:hover {
    font-weight: bolder;
}
