/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.list {
    text-align: left;
    float: left;
    color: darkblue;
}

.detail {
    text-align: left;
    float: right;
    color: maroon;
}

form input.ng-valid {
    background: lightgreen;
}

form input.ng-invalid {
    background: pink;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.ag-theme-material .ag-header-cell {
    background: #202D52;
    color: white;
}

.ag-theme-material .ag-header-viewport {
    background: #202D52;
}

.ag-theme-material .ag-header-group-cell {
    background: #202D52;
    color: white;
    font-size: 18px;

}

